body{
  background:url("https://images.pexels.com/photos/415071/pexels-photo-415071.jpeg?h=350&auto=compress&cs=tinysrgb") center center no-repeat;  
    background-size: cover;
    background-attachment: fixed;
 
  font-family:san-serif;
  color:white;
}
.title{
  background:rgba(0,0,0,0.3);
}
h5{
  margin:5px;
  padding:10px;
}
input{
  margin:5px;
}
.well{
  padding-bottom:15px;
}
ul{
  margin-top:10px;
}
li{
  margin:5px;
  color: #c9c9c9;
  padding:5px;
}
a{
  color:#c9c9c9;
}

.result{
  display:none;
}
.hide{
  display:none;
}